ConfigView/bin
ConfigView/obj
ConsoleWindow/bin
ConsoleWindow/obj
Core/bin
Core/obj
Executor/bin
Executor/obj
FiniteAutomatonParser/bin
FiniteAutomatonParser/obj
LogView/bin
LogView/obj
PolizParser/bin
PolizParser/obj
PredescenceTableParser/bin
PredescenceTableParser/obj
SemanticParser/bin
SemanticParser/obj
ScriptEditor/bin
ScriptEditor/obj
ErrorPanel/bin
ErrorPanel/obj
TranslatorS3/bin
TranslatorS3/obj
GrammarParser/obj
GrammarParser/bin